@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');


body{
  width:98%;
  height:90%;
  background:#0066ff;
  font-family: 'Rajdhani', sans-serif;
  animation-name: colorchange;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  outline: none;
  
}

.fas,.fab{
  font-size: 5vh;
  margin:1%;
  color:black;
}

#who{
  position: absolute;
  bottom: 1;
  margin:3%;
}

#insta{
  position: absolute;
  bottom: 1;
  margin:3%;
  right:1;
  
}


.timing{
  margin:1%;
  text-align:right;
  font-size:5vh;
  color:black;

}

.mainmenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

}

.flex{
  display: flex;
  flex-direction: column;
}

#plus{
  text-align:center;
}

#pochu{
  margin:2% auto;
  text-align:center;
  position: absolute;
  bottom:10%;
}

h3{
    color:whitesmoke;
    margin:20% 0 0 0;
    text-shadow: black 3px 2px 1px;
}

h1{
  font-size:80vw;
  color:white;
  text-shadow: 5px 0px 10px black;
  z-index: 0;
  margin:5% auto;
}


.marks{
 margin-top:50%;
}

.credit{
    border:white 2px solid;
    color:white;
    padding:2%;
    background:black;
    position: absolute;
    margin:10% 3% 0 3%;
    font-size:5vh;
    z-index:1;
    width:85%;
    border-radius:10px;
    font-family: 'Rajdhani', sans-serif;
}




a{
text-decoration: none;
color:white;
}

.btn{
  font-family: 'Rajdhani', sans-serif;
  display:inline-block;
  margin:1%;
  width:94%;
  height:auto;
  background:white;
  border-radius:10px;
  border:3px black solid;
  color:black;
  font-size:12vw;
  outline: none;
}

.score{
  text-align: center;
}


img{
    width:93%;
    height:auto;
    margin:20% auto 5% auto;
}

@keyframes colorchange {
  10% {background-color: #064f7e;}
  20% {background-color: #fff985;}
  40% {background-color: #3bffba;}
  60% {background-color: #ff3b96;}  
  80% {background-color:#85ff9d;}
  100% {background-color: #a387ff;}
}