body{
  width:auto;
  height:100%;
  background-image: radial-gradient(circle, #a6a6a6,#003f91,#001b3d,#000d1c);
}

#clickme{
  margin-top:10%;
  text-align:center;
}

h3{
    margin:0;
    font-family: 'Share Tech', sans-serif;    
}

h1{
  font-size:40vh;
  color:white;
  font-family: 'Black Ops One', cursive;
  text-shadow: 5px 0px 10px black;

}

.credit{
    border:white 2px solid;
    color:white;
    padding:2%;
    background-image: radial-gradient(circle, #a6a6a6,#003f91,#001b3d,#000d1c);
    position: absolute;
    margin:10% 3% 0 3%;
    font-size:5vh;
    z-index:1;
    width:85%;
    border-radius:10px;
}

.credit a{
    color:white;
    text-align:center;
    font-family: 'Berkshire Swash', cursive;
    
}

a{
text-decoration: none;
color:white;
}

.btn{
  display:inline-block;
  margin:3%;
  width:94%;
  height:10%;
  background:white;
  border-radius:10px;
  border:3px black solid;
  color:black;
  font-size:8vh;
  font-family: 'Cabin Sketch', cursive;
}

img{
    width:93%;
    height:auto;
    margin:2%;
}

.flex{
  display:flex;
  flex-direction: column;
}

div{
  padding:2%;
  height:auto;
  margin:10% auto 0 auto;
  
}

/*time*/

#timer{
  margin:-2% 0 0 3%;
  text-align: left;
  font-size:5vh;
  color:white;
  display:block;
}

#controls{
  width:200px;
  margin:auto;
  display:block;
}

.timer-btn{
  color:white;
  padding:25px;
  font-family:Helvetica;
  border-radius:9px;
  cursor:pointer;
  display:inline-block;
  margin:auto;
}

