body{
  width:auto;
  height:auto;
  background-image: radial-gradient(circle, grey,#003f91,#001b3d,#000d1c);
}

#plus{
  margin-top:-4%;
  text-align:center;
}

h3{
    color:aliceblue;
    margin:0;
    font-family: 'Share Tech', sans-serif;    
}

h1{
  font-size:50vw;
  color:white;
  font-family: 'Black Ops One', cursive;
  text-shadow: 5px 0px 10px black;
}

.marks{
 margin-top:50%;
}

.credit{
    border:white 2px solid;
    color:white;
    padding:2%;
    background-image: radial-gradient(circle, #a6a6a6,#003f91,#001b3d,#000d1c);
    position: absolute;
    margin:10% 3% 0 3%;
    font-size:5vh;
    z-index:1;
    width:85%;
    border-radius:10px;
}

.credit a{
    color:white;
    text-align:center;
    font-family: 'Berkshire Swash', cursive;
    
}

a{
text-decoration: none;
color:white;
}

.btn{
  display:inline-block;
  margin:3%;
  width:94%;
  height:auto;
  background:white;
  border-radius:10px;
  border:3px black solid;
  color:black;
  font-size:12vw;
  font-family: 'Cabin Sketch', cursive;
}

img{
    width:93%;
    height:auto;
    margin:2%;
}

.flex{
  display:flex;
  flex-direction: column;
}

div{
  padding:2%;
  height:auto;
  margin:10% auto 0 auto;
  
}

.timing{
  font-family: 'Share Tech', sans-serif;   
  margin:-2% 0 0 3%;
  text-align: left;
  font-size:5vh;
  color:white;
  display:block;
}

